ul > li{
    list-style-type: none;
    padding:3px;
}
ul{
    padding:0px;
    padding-bottom: 5px;
}
li:nth-child(even){
    background-color:#888888;
}
li:nth-child(odd){
    background-color:#aaaaaa;
}
li:active{
    color:red;
}